
body{
    margin: 0;
    font-family: helvetica, sans-serif;
}

/*Navigation bar*/

.navbar{
    width: 100%;
    height:30vh;
    display:flex;
    justify-content:center;
    align-items:center;
    backdrop-filter: blur(10px);
    z-index: 999;
}

.navdiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 2rem;
    max-width: 1600px;
}

.navitems{
    display: flex;
    align-items: center;
    text-align: center;
    gap: 1rem;
    list-style: none;
}

.navlogo{
    width: 70%;
    padding-top: 20px;
}


li a{
    color: #0E2920;
    text-decoration: none;
    font-weight: 700;
    font-size: 0.8rem;
    margin-right: 10px;
    transition: 0.5s;
}
li a:hover{
    color: rgba(20, 157, 49, 0.6);
}


.login-btn{
    background-color: #26ab5b;
    color: white;
    font-size: 16px;
    font-weight: 700;
    padding:14px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.9s;
}

.login-btn:hover{
    background-color: #0E2920;
}

.navspace{
    display: none;
    height: 45vh;
}

.navtoggle{
    display:none;
    background:#26ab5b;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background:white;
    transition: all 0.3s ease-in-out;
}


/* FIRST PAGE*/


.first-page{
    background-color: #2d3035;
    height: 300vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.content{
    max-width: 385px;
    justify-content: center;
}
.shaping-future{
    font-family: Helvetica, sans-serif;
    font-size: 64px;
    font-weight: 700;
    line-height: 86px;
    color: rgb(255, 255, 255);
    padding-top: 5vh;

}
.first-paragraph{
    height: 30vh;
    width: 70%;
}
.first{
    font-size: 26px;
    font-family: sans-serif;
    font-weight: 400;
    color: white;
}

.read-more-btn{
    color: white;
    background-color: #26ab5b;
    border: none;
    border-radius: 5px;
    font-family: Helvetica;
    font-size: 18px;
    font-weight: 700;
    padding: 20px 40px;
    margin: 48px;
    max-width: 385px;
    cursor: pointer;
}

.read-more-btn:hover{
    background-color: #83f3b0;
}

.first-image{
    width:70%;
    border-radius: 30px;
    margin-top: 30px;
}

/*SECOND PAGE */

.second-page{
    margin-top: 0;
    height: 100vh;
    background-color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:50px;

}

.second-image{
    width: 100%;
    transition: all 1s ease-in-out;
}

.second-image:hover{
    width: 95%;
}

.second-text{
    width: 50%;
    height: 517px;
    margin-right: 10rem;
}

.second-heading{
    font-family: sans-serif;
    font-weight: 700;
    font-size: 42px;
    line-height: 55px;
    color :rgb(41, 86, 42);
    padding-top: 100px;
    margin-top: 10px;
    
}

.second-paragraph{
    width: 372.5px;
    height: 264px;
    text-align: justify;
}

.second{
    font-family: Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: black;
    line-height: 24px;
}

/** THIRD PAGE */

.third-page{
    height: 275vh;
    background-color:#f8dcad;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.third-page h1{
    font-family: Helvetica, sans-serif;
    font-size: 52px;
    font-weight: 600;
    color: #29562b;
    text-align: left;
    width: 50%;
}

.third-page img{
    width: 50%;
}

.third-page p{
    width: 30%;
    font-family: Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: black;
    line-height: 24px;
}

.third-page-first{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 64px 12px 0 ;
}

.third-page-first p{
    margin-right: 96px;
}

.third-page-first img{
    margin-left: 36px;
    border-radius: 30px;
}   

.third-page-second{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 64px 12px 0 0;
}

.third-page-second p{
    margin-left: 96px;
}

.third-page-second img{
    margin-right: 36px;
    border-radius: 30px;
}  



/* MEDIA QUERIES */

@media (max-width: 880px){

.navbar{
     backdrop-filter: none;
     height: 25vh;
    }

.navitems{
    display: none;
    flex-direction: column;
    align-items: flex-start ;
    gap: 1.2rem;
    position: absolute;
    height: 30vh;
    width: 460px;
    top: 22vh;
    right:30vh;
    padding: 3rem 1.5rem;
    background-color:transparent;
    }

.navitems.active{
    display: flex;
}

.navspace.active{
    display: flex;
    height: 26vh;
}

.navtoggle{
    display: block;
    z-index: 999;
}

.navtoggle.active .bar:nth-child(2){
    opacity: 0;
}

.navtoggle.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
}

.navtoggle.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
}

.first-page{
    height: 150vh;
}

.second-page{
    height: 75vh;
}

.third-page{
    height: 125vh;

}
}

@media (max-width: 480px) {

.navlogo{
     width: 50%;
}

.navitems{
    width: 120px;
    right: 55%;
}

.navspace.active{
    height: 45vh;
}

.first-page{
    height:100vh;
    padding: 96px 4px;
}

.shaping-future{
    font-size: 2.6rem;
    line-height: 48px;
}

.first-paragraph{
    width: 90%;
    margin-bottom: 8px;
}

.first{
    font-size: 1rem;
}

.read-more-btn{
    margin-top: 12px;
}

.first-image{
    width: 100%;
}

/**SECOND PAGE*/

.second-page{
    margin: 0 0 48px 0;
    padding: 12px;
    flex-direction: column;
    height: 120vh;

}

.second-text{
    display: flex;
    margin-right: 0;
    text-align: left;
    flex-direction: column;
    width: 75%;
    height: 107%;
}
.second-heading{
    font-size: 3rem;
    margin-bottom: 0%;
}

.second{
    font-size: 1.2rem;
    text-align: left;
    line-height: 24px;
}

.second-image-container{
    text-align: center;
}

.second-image{
    width: 100%;
    transition: all 0.2s ease-in-out;
}

.second-image:hover{
    width: 95%;
}


.second-paragraph{
    width: 100%;
}


.third-page{
    display: none;
}

}