
body{
    margin: 0;
}

/*Navigation bar*/

.navbar{
    font-family: helvetica, sans-serif;
    height: 35vh;
    margin: 0;

}

.navdiv{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 48px;
    margin: 0;
}
.navlogo{
    width: 100%;
    padding-top: 20px;
}
li{
    list-style: none;
    display: inline-block;
}
li a{
    color: #0E2920;
    font-weight: 700;
    font-size: 1.2rem;
    margin-right: 30px;
    transition: 0.5s;
}
li a:hover{
    color: rgba(20, 157, 49, 0.6);
}

.link{
    text-decoration: none;
}
.login-btn{
    background-color: #26ab5b;
    color: white;
    font-size: 18px;
    font-weight: 700;
    padding:14px 24px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.9s;
}

.login-btn:hover{
    background-color: #0E2920;
}


/* First page*/
.first-page{
    background-color: #2d3035;
    height: 285vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.content{
    max-width: 385px;
    justify-content: center;
}
.shaping-future{
    font-family: Helvetica, sans-serif;
    font-size: 64px;
    font-weight: 700;
    line-height: 86px;
    color: rgb(255, 255, 255);
    padding-top: 5vh;

}
.first-paragraph{
    height: 30vh;
    width: 45%;
}
.first{
    font-size: 26px;
    font-family: sans-serif;
    font-weight: 400;
    color: white;
}

.read-more-btn{
    color: white;
    background-color: #26ab5b;
    border: none;
    border-radius: 5px;
    font-family: Helvetica;
    font-size: 18px;
    font-weight: 700;
    padding: 20px 40px;
    margin-top: 48px;
    max-width: 385px;
}

.first-image{
    height: 90vh;
    width: 900px;
    border-radius: 30px;
    margin-top: 30px;
}

/*Second page*/
.second-page{
    margin-top: 0;
    background-color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
.second-image{
    width: 495.5px;
    height: 517px;
    margin: 10px;
    transition: 1s;
}
.second-image:hover{
    width: 446.3px;
    height: 447px;
    margin: 9.1px;
    padding: 24.8px;
}
.second-text{
    width: 515px;
    height: 517px;
    margin-right: 10px;
    margin-left: 41px;
}
.second-heading{
    font-family: sans-serif;
    font-weight: 700;
    font-size: 42px;
    line-height: 55px;
    color :rgb(41, 86, 42);
    padding-top: 100px;
    margin-top: 10px;
    
}
.second-paragraph{
    width: 372.5px;
    height: 264px;
    text-align: justify;
}
.second{
    font-family: Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: black;
    line-height: 24px;
}